<div class="container">
    <table datatable [dtOptions]="dtOptions" class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>NIC</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students" 
                (click)="onSelect(student)"
                [ngClass]="{color: selectedStudent === student ? '.bg-success' : ''}">
                <td>{{ student.id }}</td>
                <td>{{ student.firstName }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.mobile }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.nic }}</td>
            </tr>
        </tbody>
    </table>
</div>
