.row-highlight {
    background-color: blue !important;
    color: white;
}

.container {
    margin: 10px;
    padding: 10px;
    border: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    width: 900px;
}
