<div class="container">
    <div class="text-center" style="margin: 20px;">
      <div *ngIf="student == null" class="circle"></div>
      <img *ngIf="student != null" src="{{student.profilePic ?? profilePicEmpty}}" class="rounded" alt="..." width="175" height="175">
    </div>
    <form>
      <div class="form-group row row-custom-css">
        <label for="firstName" class="col-sm-4 col-form-label">First Name:</label>
        <div class="col-sm-8">
          <input *ngIf="isEditing" type="text" class="form-control" id="firstName" placeholder="Enter first name" [(ngModel)]="student == null ? '' : student.firstName" name="firstName">
          <input *ngIf="!isEditing && !isInserting" type="text" class="form-control" id="firstName2" [(ngModel)]="student == null ? '' : student.firstName" name="firstName" disabled>
          <input *ngIf="isInserting && !isEditing" type="text" class="form-control" id="firstName3" placeholder="Enter first name" [(ngModel)]="newStudent!.firstName" name="firstName">
        </div>
      </div>
      <div class="form-group row row-custom-css">
        <label for="lastName" class="col-sm-4 col-form-label">Last Name:</label>
        <div class="col-sm-8">
          <input *ngIf="isEditing" type="text" class="form-control" id="lastName" placeholder="Enter last name" [(ngModel)]="student == null ? '' : student!.lastName" name="lastName">
          <input *ngIf="!isEditing && !isInserting" type="text" class="form-control" id="lastName2" [(ngModel)]="student == null ? '' : student!.lastName" name="lastName" disabled>
          <input *ngIf="isInserting && !isEditing" type="text" class="form-control" id="lastName3" placeholder="Enter last name" [(ngModel)]="newStudent!.lastName" name="lastName">
        </div>
      </div>
      <div class="form-group row row-custom-css">
        <label for="mobile" class="col-sm-4 col-form-label">Mobile:</label>
        <div class="col-sm-8">
          <input *ngIf="isEditing" type="text" class="form-control" id="mobile" placeholder="Enter mobile number" [(ngModel)]="student == null ? '' : student!.mobile" name="mobile">
          <input *ngIf="!isEditing && !isInserting" type="text" class="form-control" id="mobile2" [(ngModel)]="student == null ? '' : student!.mobile" name="mobile" disabled>
          <input *ngIf="isInserting && !isEditing" type="text" class="form-control" id="mobile3" placeholder="Enter mobile number" [(ngModel)]="newStudent!.mobile" name="mobile">
        </div>
      </div>
      <div class="form-group row row-custom-css">
        <label for="email" class="col-sm-4 col-form-label">Email:</label>
        <div class="col-sm-8">
          <input *ngIf="isEditing" type="email" class="form-control" id="email" placeholder="Enter email" [(ngModel)]="student == null ? '' : student!.email" name="email">
          <input *ngIf="!isEditing && !isInserting" type="email" class="form-control" id="email2" [(ngModel)]="student == null ? '' : student!.email" name="email" disabled>
          <input *ngIf="isInserting && !isEditing" type="email" class="form-control" id="email3" placeholder="Enter email" [(ngModel)]="newStudent!.email" name="email">
        </div>
      </div>
      <div class="form-group row row-custom-css">
        <label for="nic" class="col-sm-4 col-form-label">NIC:</label>
        <div class="col-sm-8">
          <input *ngIf="isEditing" type="text" class="form-control" id="nic" placeholder="Enter NIC" [(ngModel)]="student == null ? '' : student!.nic" name="nic">
          <input *ngIf="!isEditing && !isInserting" type="text" class="form-control" id="nic2" [(ngModel)]="student == null ? '' : student!.nic" name="nic" disabled>
          <input *ngIf="isInserting && !isEditing" type="text" class="form-control" id="nic3" placeholder="Enter NIC" [(ngModel)]="newStudent!.nic" name="nic">
        </div>
      </div>
      <div class="form-group row row-custom-css">
        <label for="dateOfBirth" class="col-sm-4 col-form-label">Date of Birth:</label>
        <div class="col-sm-8">
          <input *ngIf="isEditing" type="text" class="form-control" id="dateOfBirth" placeholder="Select date" onfocus="(this.type='date')" [(ngModel)]="student == null ? '' : student!.dateOfBirth" name="dateOfBirth">
          <input *ngIf="!isEditing && !isInserting" type="text" class="form-control" id="dateOfBirth2" onfocus="(this.type='date')" [(ngModel)]="student == null ? '' : student!.dateOfBirth" name="dateOfBirth" disabled>
          <input *ngIf="isInserting && !isEditing" type="text" class="form-control" id="dateOfBirth3" placeholder="Select date" onfocus="(this.type='date')" [(ngModel)]="newStudent!.dateOfBirth" name="dateOfBirth">
        </div>
      </div>
      <div class="form-group row row-custom-css">
        <label for="address" class="col-sm-4 col-form-label">Address:</label>
        <div class="col-sm-8">
          <textarea *ngIf="isEditing" class="form-control" id="address" rows="2" placeholder="Enter address" [(ngModel)]="student == null ? '' : student!.address" name="address"></textarea>
          <textarea *ngIf="!isEditing && !isInserting" class="form-control" id="address2" rows="2" [(ngModel)]="student == null ? '' : student!.address" name="address" disabled></textarea>
          <textarea *ngIf="isInserting && !isEditing" class="form-control" id="address3" rows="2" placeholder="Enter address" [(ngModel)]="newStudent!.address" name="address" ></textarea>
        </div>
      </div>
        <button *ngIf="isInserting" type="submit" class="btn btn-primary" (click)="addStudent()" >Add Student</button>
        <button *ngIf="isEditing" type="submit" class="btn btn-primary" (click)="editStudent()">Save Changes</button>
        <button *ngIf="isDeleting" type="submit" class="btn btn-primary" (click)="deleteStudent()">Delete Student</button>
    </form>
</div>

